{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="form-error">
            {{ form.non_field_errors }}
        </div>
        {% for field in form %}
            <p>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </p>
            <div class="form-error">
                {{ field.errors }}
            </div>
        {% endfor %}
        <p>
            <a href="{% url 'users:password_reset' %}">Forgot password?</a>
        </p>
        <button type="submit">Login</button>
    </form>
{% endblock %}
