{% extends 'base.html' %}

{% block content %}
	<h1>New password</h1>
    <form action="" method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for field in form %}
    	<p>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </p>
        <div class="form-error">
        {{ field.errors }}
        </div>
    {% endfor %}
    <button type="submit">Confirm</button>
    </form>
{% endblock %}
