{% extends 'base.html' %}

{% load static %}
{% block content %}
    <ul class="list-articles">
        {% for actor in actors %}
            <li>
                <div class="article-panel">
                    <p class="first">Category: {{ actor.category.name }}</p>
                    <p class="last">Date: {{ actor.time_update|date:"d-m-Y H:i:s" }}</p>
                </div>
                <h2>{{ actor.first_name }} {{ actor.last_name }}</h2>
                {% if actor.photo %}
                    <img class="img-article-left thumb" src="{{ actor.photo.url }}" alt="photo">
                {% else %}
                    <img class="img-article-left thumb" src="{% static 'images/default.jpeg' %}" alt="default_photo">
                {% endif %}
            </li>
            {{ actor.biography|truncatewords:40 }}
            <div class="clear"></div>
            <p class="link-read-post">
                <a href="{{ actor.get_absolute_url }}">Learn more</a>
            </p>
        {% endfor %}
    </ul>
{% endblock %}