{% extends 'base.html' %}

{% load static %}
{% block content %}
    <ul class="list-articles">
        {% for actor in actors %}
            <li>
                <div class="article-panel">
                    <p class="first">
                        Category: {{ actor.category.name }} |
                        Author: {{ actor.author.username|default:unknown }} |
                    </p>
                    <p class="last">Date: {{ actor.time_update|date:"d-m-Y H:i:s" }}</p>
                </div>
                <h2>{{ actor.first_name }} {{ actor.last_name }}</h2>
                {% if actor.photo %}
                    <img class="img-article-left thumb" src="{{ actor.photo.url }}" alt="photo">
                {% else %}
                    <img class="img-article-left thumb" src="{% static 'images/default.jpeg' %}" alt="default_photo">
                {% endif %}
            </li>
            {{ actor.biography|truncatewords:40 }}
            <div class="clear"></div>
            <p class="link-read-post">
                <a href="{% url 'actors:update_actor' actor.slug %}">Edit post</a>
            </p>
            <div class="clear"></div>
            <p class="link-read-post">
                <a href="{{ actor.get_absolute_url }}">Learn more</a>
            </p>
        {% endfor %}
    </ul>
{% endblock %}

{% block navigation %}
    {% if page_obj.has_other_pages %}
        <nav class="list-pages">
            <ul>
                {% if page_obj.has_previous %}
                	<li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                {% endif %}
                {% for page in paginator.page_range %}
                    {% if page_obj.number == page %}
                        <li class="page-num-selected">
                            {{ page }}
                        </li>
                    {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                        <li class="page-num">
                            <a href="/?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                	<li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                {% endif %} 
            </ul>
        </nav>
    {% endif %}
{% endblock %}