{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
    {% with actor.tags.all as tags %}
        {% if tags %}
            <ul class="tags-list">
                <li>Tags:</li>
                {% for tag in tags %}
                    <li>
                        <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ actor.first_name }} {{ actor.last_name }}</h1>
    {% if actor.photo %}
        <p>
            <img class="img-article-left" src="{{ actor.photo.url }}" alt="actor_photo">
        </p>
    {% else %}
        <p>
            <img class="img-article-left" src="{% static 'images/default.jpeg' %}" alt="default_photo">
        </p>
    {% endif %}
    <p>{{ actor.biography }}</p>
{% endblock %}
